/.venv
/2.12
/animal-image-classification-dataset.zip
/Animals
/Animals_splitted
/models
/model_ft_pretrained_full.pth
/validation
/t5-small-finetuned-xsum-lora
/t5-small-prompt-tuned-xsum
/t5-small-finetuned-xsum
